
<!--
<form action="" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% if form.title.errors %}
		<ol>
			{% for error in form.title.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	<label for="{{ form.title.id_for_label ">Title of the vocabulary table:</label>
	{{ form.title }} <br/>
	<table>
		<tr>
			<th>Word</th>
			<th>Meaning</th>
		</tr>
		{% for i in 'xx' %}
		<tr>
			<td>
				{{ form.word.errors }}
				<label for="{{ form.word.id_for_label }}_{{ forloop.counter }}" name="{{ form.word.html_name }}_{{ forloop.counter }}"></label>
				{{ form.word }}
				{{ form.word.html_name }}
			</td>
			<td>
				{{ form.meaning.errors }}
				<label for="{{ form.meaning.id_for_label }}"></label>
				{{ form.meaning }}					
			</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
-->
<form action="" method="post">
	{% csrf_token %}
	{% if form.title.errors %}
		<ol>
			{% for error in form.title.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	<label for="{{ form.title.id_for_label ">Title of the vocabulary table:</label>
	{{ title.title }} <br/>
	<table>
		<tr>
			<th>Word</th>
			<th>Meaning</th>
		</tr>
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{ form.word }}</td>
			<td>{{ form.meaning }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
