
<form action="" method="post">
	{% csrf_token %}
	{% if form.title.errors %}
		<ol>
			{% for error in form.title.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	<label for="{{ form.title.id_for_label ">Title of the vocabulary table:</label>
	{{ title.title }} <br/>
	<table>
		<tr>
			<th>Word</th>
			<th>Meaning</th>
		</tr>
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{ form.word }}</td>
			<td>{{ form.meaning }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
